/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main_back_image: url(../images/cover-image-dark.png);
  --main_back_color: #000028;
  --main_title_color: #db00ff;
  --title_color: #ff0070;
  --sub_title_color: #000028;
  --accent_color: #ff0070;
  --title_decor_color: #ff0070;
  --text_color: #f1b2ce;
  --button_hover_color: rgb(255 0 112 / 0.4);
  --decorate_turn: visible;
}

@media (prefers-color-scheme: dark) {

  :root {
    --main_back_image: url(../images/cover-image-dark.png);
    --main_back_color: #000028;
    --main_title_color: #db00ff;
    --title_color: #ff0070;
    --sub_title_color: #000028;
    --accent_color: #ff0070;
    --title_decor_color: #ff0070;
    --text_color: #f1b2ce;
    --button_hover_color: rgb(255 0 112 / 0.4);
    --decorate_turn: visible;
  }

  .decorated-zone::after,
  .decorated-zone::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    color: var(--accent_color, #ff0070);
  }

  .decorated-zone::after {
    bottom: var(--main_page_padding, 10px);
    left: var(--main_page_padding, 10px);
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
  }

  .decorated-zone::before {
    top: var(--main_page_padding, 10px);
    right: var(--main_page_padding, 10px);
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
  }

  .header__decor {
    position: relative;
    visibility: var(--decorate_turn, visible);
    justify-self: right;
    padding-inline-end: 1.6em;
    color: var(--accent_color, #ff0070);
    text-transform: uppercase;
    -webkit-padding-end: 1.6em;
  }

  .header__decor::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 11px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    box-shadow: 0 0 4px currentColor;
    background-color: currentColor;
  }

  .footer.decorated-zone::before {
    top: calc(var(--main_page_padding, 10px) - 2px);
  }

  .footer.decorated-zone::after {
    bottom: calc(var(--main_page_padding, 10px) + 4px);
  }
}
