/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main_back_image_dark);
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  background-color: var(--main_back_color_dark);
  font-family: var(--main_font, Arial);
  font-weight: normal;
  font-size: var(--main_font_size, 18px);
  padding: var(--main_page_padding, 10px);
  display: grid;
  gap: 40px;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

.header::after,
.header::before,
.footer::after,
.footer::before {
  content: "";
  color: var(--accent-color, #ff0070);
  width: 25px;
  height: 25px;
  position: absolute;
}

.header::after,
.footer::after {
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  bottom: 0;
  left: 0;
}

.header::before,
.footer::before {
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  top: 0;
  right: 0;
}

.header__decor {
  justify-self: right;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
  position: relative;
  padding-inline-end: 28px;
}

.header__decor::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--accent-color, #ff0070);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0 0 4px var(--accent-color, #ff0070);
}

.header__theme-menu {
  justify-self: right;
}

.header__theme-menu-button {
  color: var(--accent-color, #ff0070);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color, #ff0070);
}

.main-title {
  justify-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--main_title_color, #db00ff);
  font-weight: bold;
  line-height: 82.5%;
}

.header__text {
  justify-self: center;
  align-self: center;
}

.title_decor {
  color: var(--main_back_color_dark, #000028);
  font-weight: bold;
  line-height: 130%;
  background-color: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
}

.section__title {
  color: var(--accent-color, #ff0070);
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  word-spacing: 1.1em;
}

.card__title {
  color: var(--main_back_color_dark, #000028);
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

.card__list {
  margin-block-start: 1.1em;
  display: grid;
  gap: 20px;
}

.card__item {
  display: grid;
  gap: 20px;
}

.card__text {
  color: var(--dark_text_color, #f1b2ce);
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.card__title-accent {
  font-weight: bold;
}

.gallary__list {
  margin-block-start: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_img {
  width: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 667px;
  display: grid;
  position: relative;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
}
