.page {
  display: grid;
  gap: 40px;
  font-family: var(--main_font, monospace);
  font-weight: normal;
  font-size: var(--main_font_size, 18px);
  background-color: var(--main_back_color, #000028);
  background-image: var(--main_back_image, url(../images/cover-image-dark.png));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(3, 1fr);
  padding-block-start: var(--main_page_padding, 10px);
  padding-inline: var(--main_page_padding, 10px);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::after,
.decorated-zone::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  color: var(--accent_color, #ff0070);
}

.decorated-zone::after {
  bottom: var(--main_page_padding, 10px);
  left: var(--main_page_padding, 10px);
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
}

.decorated-zone::before {
  top: var(--main_page_padding, 10px);
  right: var(--main_page_padding, 10px);
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
}

.header__decor {
  position: relative;
  visibility: var(--decorate_turn, visible);
  justify-self: right;
  padding-inline-end: 1.6em;
  color: var(--accent_color, #ff0070);
  text-transform: uppercase;
  -webkit-padding-end: 1.6em;
}

.header__decor::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 11px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px currentColor;
  background-color: currentColor;
}

.header__theme-menu {
  justify-self: right;
  margin-block-start: 2.4em;
  -webkit-margin-before: 2.4em;
}

.header__theme-menu-list {
  display: grid;
  gap: 0.55em;
}

.header__theme-menu-button {
  margin: 0;
  border: none;
  padding: 3px 13px;
  color: var(--accent_color, #ff0070);
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  transition: outline 0.5s ease-in-out;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button_hover_color, rgb(255 0 112 / 0.4));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.main-title {
  color: var(--main_title_color, #db00ff);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 79%;
  text-shadow: 4px 4px 0 var(--title_decor_color, #ff0070);
}

.header__text {
  align-self: self-start;
  width: 100%;
  max-width: 19.8em;
  margin-block-start: 1.6em;
  -webkit-margin-before: 1.6em;
}

.title_decor {
  color: var(--sub_title_color, #000028);
  font-weight: bold;
  line-height: 130%;
  background-color: var(--title_decor_color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding-inline: var(--main_page_padding, 10px);
}

.section {
  display: grid;
  gap: 20px;
  margin: 0 auto;
}

.section__title {
  color: var(--title_color, #ff0070);
  font-weight: 700;
  font-size: 1em;
  font-style: normal;
  line-height: 130%;
}

.card__title {
  color: var(--sub_title_color, #000028);
  font-weight: bold;
  font-size: 1em;
  font-style: normal;
  line-height: 130%;
}

.no-accent-title {
  font-weight: normal;
}

.card__title_dop-info {
  margin-block-end: 1em;
  font-weight: bold;
  text-wrap: wrap;
  -webkit-margin-after: 1em;
}

.card__list {
  display: grid;
  gap: 20px;
}

.card__item {
  display: grid;
  gap: 10px;
}

.card__text {
  color: var(--text_color, #f1b2ce);
  font-weight: 400;
  font-size: 1em;
  font-style: normal;
  line-height: 130%;
}

.card__link {
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--title_decor_color, #ff0070);
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallary {
  gap: 10px;
}

.gallary__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 0;
}

.gallery_img {
  -o-object-fit: cover;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  padding-inline: var(--main_page_padding, 10px);
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 667px;
}

.footer-title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--title_decor_color, #ff0070);
}

@media (width >= 768px) {

  :root {
    --main_page_padding: 20px;
  }

  .page {
    gap: 60px;
  }

  .header__theme-menu {
    align-self: center;
    margin-block-start: 66px;
    -webkit-margin-before: 66px;
  }

  .header__theme-menu-list {
    gap: 0.6em;
  }

  .main {
    gap: 80px;
  }

  .main-title {
    justify-self: left;
    margin-inline-start: -20px;
    margin-block-start: 0.8em;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    -webkit-margin-start: -20px;
    -webkit-margin-before: 0.8em;
  }

  .header__text {
    justify-self: right;
    max-width: 20.21em;
    margin-block-start: 1.5em;
    -webkit-margin-before: 1.5em;
  }

  .section {
    grid-template-columns: 32.4% 1fr;
  }

  .section__title {
    width: 100%;
    max-inline-size: 236px;
  }

  .another__section-grid-column {
    grid-template-columns: 1fr;
  }

  .gallary {
    grid-template-columns: 1fr;
    gap: 21px;
  }

  .gallary__list {
    grid-template-columns: repeat(4, 1fr) 229px;
    grid-auto-flow: dense;
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 4;
    grid-row: 1/2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 5/6;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: span 2;
    grid-row: span 3;
  }

  .gallery__item:nth-child(4) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 3/6;
    grid-row: span 2;
  }

  .footer-title {
    justify-self: center;
    margin-inline-start: 0;
    margin-block-start: 0;
  }
}

@media (width >= 1024px) {

  .header {
    grid-template-columns: 1fr min-content;
  }

  .header__theme-menu {
    grid-column: 1/2;
    grid-row: 1/1;
    justify-self: center;
    margin-inline-start: 60px;
    margin-block-start: initial;
    -webkit-margin-start: 60px;
    -webkit-margin-before: initial;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 11px;
  }

  .main-title {
    grid-row: 3/3;
    margin-block-start: 0.24em;
    -webkit-margin-before: 0.24em;
  }

  .header__text {
    grid-column: span 2;
    grid-row: 4/4;
    max-width: 491px;
    margin-block-start: 37px;
    -webkit-margin-before: 37px;
  }

  .section {
    grid-template-columns: 32% 1fr;
    max-width: calc(100vw - 40px);
  }

  /* Нужно переопределение, из-за того, что в section меняю значения grid-template-columns */

  .another__section-grid-column {
    grid-template-columns: 1fr;
  }

  .section__title {
    max-inline-size: 313px;
  }

  .card__change {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__change .card__item {
    align-self: start;
  }

  /* Нужно переопределение, из-за того, что в section меняю значения grid-template-columns */

  .gallary {
    grid-template-columns: 1fr;
  }

  .gallary__list {
    grid-template-columns: repeat(4, 1fr) 314px;
    gap: 20px;
  }

  .footer-title {
    grid-row: initial;
    margin-block-start: 0;
  }
}
