/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main_back_image: url(../images/cover-image-dark.png);
  --main_back_color: #000028;
  --main_font: 'IBM Plex mono';
  --main_font_size: 18px;
  --main_title_color: #db00ff;
  --title_color: #ff0070;
  --sub_title_color: #000028;
  --accent_color: #ff0070;
  --title_decor_color: #ff0070;
  --text_color: #f1b2ce;
  --main_page_padding: 10px;
  --button_hover_color: rgb(255 0 112 / 0.4);
}
